span{
  margin: 10px;
  padding: 10px;
  font-size: 70px;
}
.closed {
  color: black;
  background-color: black;
  border: duble;
}
.opened {
  color: red;
  background-color: white;
  border: double;
}
